@import '../../styles/variables';
@import '../../styles/mixins';

.form {
    @include flexbox(column, center, center, wrap);
    border-radius: 0.4rem;


    input {
        border: 2px solid $purpleOff;
        border-radius: 0.4rem;
        font-size: 1rem;
        padding: 0.8rem;
        width: 100%;

        &:focus {
            border: 2px solid transparent;
            stroke: none;
            outline: none;
            background-color: $purpleOff;
        }

        &::placeholder {
            color: $purple;
            font-size: 0.6rem;
        }
    }

    label {
        font-size: 0.8rem;
        font-weight: 500;
        padding-bottom: 0.4rem;

        &:not(:first-child) {
            padding-top: 1.2rem;
        }
    }

    img {
        border-radius: 0.4rem;
        // width: 100%;
        height: auto;
        object-fit: contain;
    }

    button {
        position: static !important;
        margin-top: 2rem;
        width: 100%;
        background-color: $orange !important;
        color: white !important;
    }

    @include screen-md {
        padding: 0;
    }
}

.title {
    margin-bottom: 2rem;
    @include flexbox(row, center, center, wrap);
    gap: 0.4rem;
    color: white;
    width: 100%;
    background-color: $purpleOff;
    padding: 2rem;
    border-radius: 0.4rem;
}

.dropdown {
    border: 2px solid $purpleOff;
    border-radius: 0.4rem;
    font-size: 1rem;
    padding: 0.8rem;
    width: 100%;

    &:focus {
        outline: none;
    }

    &::-ms-expand {
        display: none;
    }

    option {
        color: $blue;
        font-size: 14px;
        padding: 2rem;
    }
}

.uploadImage {
    @include flexbox(column, flex-start, center, wrap);

    i {
        padding: 1rem;
        background-color: $orange;
        color: white;
        margin-top: 1rem;
        border-radius: 0.4rem;
        cursor: pointer;
    }
}

.upload {
    display: none;
}

.close {
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 0.4rem;
    cursor: pointer;
    color: white;

    &:hover {
        color: $orange;
    }

    @include screen-md {
        position: absolute !important;
        right: 2rem;
        top: 2rem;
    }
}

.formParent {
    // background-color: green;
    width: auto;
    padding: 4rem 2rem;
    margin-top: 2rem;
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
    min-width: 100%;

    @include screen-md {
        width: 100%;
        margin-top: 0;
    }
}
