@import '../../styles/variables';
@import '../../styles/mixins';

.topBar {
    height: 9rem;
    width: 100%;
    @include flexbox(row, space-between, center, wrap);
    background-color: $purpleOff;
    padding: 0 3rem;
}

.searchSort {
    padding: 3rem;
    @include flexbox(row, space-between, center, wrap);
    width: 100%;

    form {
        @include flexbox(column, space-between, flex-start, wrap);
        gap: 0.4rem;
        position: relative;

        input {
            border: 2px solid $purpleOff;
            border-radius: 0.4rem;
            font-size: 1rem;
            width: 100%;
            padding: 0.4rem;

            &:focus {
                border: 2px solid transparent;
                stroke: none;
                outline: none;
                background-color: $purpleOff;
            }

            &::placeholder {
                color: $purple;
                font-size: 0.6rem;
            }
        }

        i {
            position: absolute;
            right: 1rem;
            bottom: 0.6rem;
            color: $purpleOff;
        }
    }
}

.sort {
    @include flexbox(row, center, center, wrap);
    gap: 1rem;

    span {
        @include flexbox(row, center, center, wrap);
        gap: 0.4rem;
        cursor: pointer;

        &:hover {
            color: $orange;
        }
    }
}

.clickable {
    cursor: pointer;

    &:hover {
        color: $orange;
    }

    i {
        padding-right: 0.4rem;
    }
}

.noitems {
    @include flexbox(column, center, center, wrap);
    width: 100%;
    padding: 2rem 0;

    h5 {
        text-decoration: underline;
        text-underline-offset: 0.6rem;
        cursor: pointer;

        &:hover {
            color: $orange;
        }
    }
}
