@import '../../styles/variables';
@import '../../styles/mixins';

.form {
    padding: 3rem;
    margin: 4rem 0;
    width: 20rem;
    @include flexbox(column, flex-start, flex-start, wrap);
    border-radius: 0.4rem;
    max-width: 32rem;
    border: 2px solid white;
    position: relative;

    input {
        border: 2px solid $purpleOff;
        border-radius: 0.4rem;
        font-size: 1rem;
        padding: 0.8rem;
        width: 100%;
        margin-bottom: 0.6rem;

        &:focus {
            border: 2px solid transparent;
            stroke: none;
            outline: none;
            background-color: $purpleOff;
        }

        &::placeholder {
            color: $purple;
            font-size: 0.6rem;
        }
    }

    label {
        font-size: 0.8rem;
        font-weight: 500;
        color: white;
        padding-bottom: 0.4rem;

        &:not(:first-child) {
            margin-top: 1.2rem;
        }
    }

    button {
        margin-top: 1rem;
        width: 100%;
        background-color: $orange;

        &:hover {
            background-color: $purple;
            color: $blue
        }
    }

    p {
        margin-top: 2rem;

        span {
            text-decoration: underline;
            text-underline-offset: 0.4rem;
            cursor: pointer;

            &:hover {
                color: $orange
            }
        }
    }
}

.close {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: $blue;
    border-radius: 0.4rem;
    cursor: pointer;
    color: white;

    &:hover {
        color: $orange;
    }
}