@import '../../styles/variables';
@import '../../styles/mixins';

.sidebar {
    width: 6rem;
    background-color: $orange;
    height: 100vh;
    color: white;
    @include flexbox(column, space-between, center, wrap);
    padding: 2rem 1rem;
    box-sizing: border-box;
    z-index: 100;
    position: sticky;
    top: 0;

    i {
        cursor: pointer;
    }

    @include screen-md {
        // display: none;
        @include flexbox(row, space-between, center, wrap);
        width: 100%;
        position: static;
        height: auto;
    }
}

.title {
    text-align: center;
}

.columnTop {
    @include flexbox(column, center, center, wrap);
    gap: 0.4rem;

    span {
        margin-top: 3rem;
        background-color: white;
        color: $orange;
        width: 100%;
        height: 2rem;
        @include flexbox(row, center, center, wrap);
        border-radius: 0.4rem;
        cursor: pointer;

        &:hover {
            background-color: $blue;
        }

        &:active {
            transform: translateX(0.2rem);
        }
    }

    @include screen-md {
        @include flexbox(row, flex-start, center, wrap);
        span {
            display: none;
        }
    }
}

.columnButton {
    @include flexbox(column, center, center, wrap);
    gap: 2rem;

    @include screen-md {
        @include flexbox(row, flex-end, center, wrap);
    }
}
