@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600;700;800&display=swap');
@import 'variables';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}

body {
    background-color: $purpleOff;
    font-family: 'Sora', sans-serif;
    color: $blue;
}

h1 {
    font-size: 5rem;
    font-weight: 800;
}

h2 {
    font-size: 4rem;
    font-weight: 800;
}

h3 {
    font-size: 3rem;
    font-weight: 700;
}

h4 {
    font-size: 2rem;
    font-weight: 700;
}

h5 {
    font-size: 1rem;
    font-weight: 600;
}

p {
    font-size: 0.6rem;
    font-weight: 400;
}

a {
    color: $blue;
}

button {
    background-color: $blue;
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 0.4rem;
    font-weight: 600;
    font-size: 0.8rem;
    color: white;
    cursor: pointer;

    &:hover {
        background-color: $orange;
    }
}

ul {
    @include flexbox(row, flex-start, center, wrap);
    gap: 1rem;
    list-style: none;
}

label {
    font-size: 0.6rem;
    font-weight: 800;
    padding-left: 0.6rem;
}

.flex {
    @include flexbox(row, flex-start, flex-start, wrap);
}

.flex-column {
    @include flexbox(column, flex-start, flex-start, wrap);
}

.content {
    flex: 1;
    @include flexbox(column, flex-start, flex-start, wrap);
    width: 100vw;
    box-sizing: border-box;
}

.main {
    min-height: 100vh;
    height: 100%;
    flex: 1;

    form {
        @include flexbox(column, space-between, flex-start, wrap);
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: $blue;
    @include flexbox(column, center, center, nowrap);
    color: white;
    z-index: 999;
}
